.CharacterCard {
  display: flex;
  align-items: center;
  justify-content: center;

  width: max-content;
  height: max-content;

  padding: 10px;
  margin-bottom: 20px;

  border: 2px solid aliceblue;
  border-radius: 10px;
  box-shadow: 0vw 0vw 10px 5px black, inset 0vw 0vw 10px 2px black;
}

.CharacterCard div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.CharacterCard .BaseInfo {
  width: 300px;
  height: 100px;
  flex-direction: column;
}

.CharacterCard .BaseInfo p {
  font-size: 0.8rem;
}

.CharacterCard .Stats {
  width: 350px;
  flex-direction: column;
  height: 200px;
  border: 1px solid aliceblue;
  border-radius: 10px;
}
